
* {
    background-color: black;
    color: bisque;
    
    
}

.timerSection {
    text-align: center;
    font-size: 32px;
    color: chartreuse;
}
 
.buttons {
    border-radius: 50%;
    background-color: aliceblue;
    color: blueviolet;
    font-size: 20px;
    padding: 12px 28px;
}

.buttons:hover {
    background-color: blueviolet;
    color: aliceblue;

}


.quizQuestions {
    text-align: center;
}

.scoresContainer {
    text-align: center;
    justify-content: center;

}

.tableStyle {
    width: 50%;
    text-align: center;
    border: 1px;
    background-color: chartreuse;
    font-size: 32px;
    padding: 1px;
    margin: auto;
    
}